.student-row {
  display: flex;
  align-items: center;

  .gender {
    width: 20px;
    height: 20px;
    background-size: cover;
  }

  .name {
    width: 80px;
    font-weight: bold;

  }

  .age {
    width: 30px;
  }

  .spaces {
    width: 20px;
  }

  .registered {
    width: 20px;
    height: 20px;
    background-size: cover;
  }
}